.page-header {
  background-color: #45d94d;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 20px 20px 20px 40px;
}

h1,
.page-header h1,
.post h2 a,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  color: #828282;
  font-size: 36pt;
  text-decoration: none;
}


h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
}

.date {
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea,
.post-form input {
  width: 100%;
}

.top-menu{
  color: #828282;
  background-color: none;
  fill: #005cdd;
  border-color: #45d94d;
  margin-left: 5px;
  float: right;
  font-family: 'Lobster', cursive;
}
.top-menu:hover{
  color: #828282;
  background-color: none;
  fill: #005cdd;
  border-color: #45d94d;
  margin-left: 5px;
  float: right;
  font-family: 'Lobster', cursive;
}
.top-menu:visited {
  color: #828282;
  background-color: none;
  fill: #005cdd;
  border-color: #45d94d;
  margin-left: 5px;
  float: right;
  font-family: 'Lobster', cursive;
}
.top-outline-menu{
  color: #828282;
  background-color: none;
  fill: #005cdd;
  border-color: #45d94d;
  margin-left: 5px;
  float: right;
  font-family: 'Lobster', cursive;
}
.top-outline-menu:hover{
  color: #828282;
  background-color: none;
  fill: #005cdd;
  border-color: #45d94d;
  margin-left: 5px;
  float: right;
  font-family: 'Lobster', cursive;
}

.post {
  margin-bottom: 70px;
  color: #828282;
}

.post h2 a:visited {
  color: #828282;
}

.post > .date,
.post > .actions {
  float: right;
}

.btn-primary,
.btn-secondary{
  color: #828282;
  background-color: #45d94c;
}
.btn-secondary:hover{
  color: #828282;
  background-color: #45d94c00;
}
.btn-secondary:visited {
  color: #828282;
  background: none;
  border-color: #45d94d;
  margin-left: 5px;
}
.btn-outline-secondary{
  color: #828282;
  background-color: #45d94c;
}
.btn-outline-secondary:hover{
  color: #828282;
  background-color: #45d94c00;
}

.btn-danger{
  color: #ffffff;
  background-color: #d94545;
  margin-left: 5px;
}
.btn-danger:hover{
  color:#ffffff;
  background-color: #000000;
}
#logout {
    font-family: 'Lobster', cursive;
    float: right;

}
small a,
small a:hover,
small a:visited {
    font-size: 15pt;
    color: #ffffff;
    text-decoration: none;
}
.comment {
    margin: 20px 0px 20px 20px;
}
